h1 {
    font-family: 'Monoton', cursive !important;
    font-size: 8em !important;
    margin-left: 9% !important;
}



footer {
    position: relative;
    width: 10%;
    height: auto;
    alignment: center;
    margin: auto;
}
footer .logo {
    width: 100%;
    height: auto;
}




img {
    size: 0.5em;
}
#addBoardButton {
    position: fixed;
    top:25% !important;
    padding-top: 1%;
    padding-bottom: 1%;
    right: 0;
    min-width: 50px;

}

body {
    padding: auto;
    align-content: center !important ;

    background: linear-gradient(7deg, #244366, #664724);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 32s ease infinite;
    -moz-animation: AnimationName 32s ease infinite;
    animation: AnimationName 32s ease infinite;
}



#boards {
    margin-top: 5%;
    margin-bottom: 10px;
    align-content: center;
    padding: 0 !important ;
    max-width: 80% !important;

}

.status_header {

    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    padding-bottom: 2%;
}

.container {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.col > .row > .col {
    max-width: 25%;
    border-right: 1px solid black;
}

.col > .row > .col:nth-child(4n) {
    border-right: none;
}

.col.container {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: whitesmoke;
    background-clip: padding-box;


}




.card_container div {
    font-size: 1.5em;
    font-family: 'Cutive Mono', monospace, Serif;
}

.col > .row > .col > div:hover {
    box-shadow: 0 4px 4px rgba(0,0,0,15) !important;
    -webkit-transition: 0.5s;
}

.gu-transit {
    box-shadow: 0 4px 4px rgba(0,0,0,15) !important;
}

.btn.btn-link {
    background-color: rgba(119, 112, 112, 0.91) !important;
    color: white !important;
    text-decoration: none !important;
    position: relative;
    padding: 20px;
    background-color: #4b494a;
    font-size: 1.7em;
    font-family: 'Roboto', monospace, Serif;
    margin-bottom: 1%;
}

.btn.btn-link.col.text-left.opened {
    margin-bottom: 0;
}


.btn.btn-link:hover {
    background-color: #999590 !important;
    -webkit-transition-duration: 0.5s !important;
    box-shadow: 0 4px 4px rgba(0,0,0,15) !important;
}

.btn.btn-primary  {
    background-color: #ff540e !important;
    border: 2px solid black;
}

.btn.btn-primary:hover  {
    background-color: #ff4c13 !important;
    box-shadow: 0 4px 4px rgba(0,0,0,15) !important;
}

.col.container.collapse.show {
    padding-bottom: 0.5%;
    margin-bottom: 1% !important;
    transition-duration: 1s !important;
}
/*------------------------------------------------------------------*/

:root {


  /* Set neon color */
  --neon-text-color: #f40;
  --neon-text-color2: black ;
}



h1 {
  font-size: 13rem;
  font-weight: 200;
  font-style: italic;
  color: #fff;
  padding: 2rem;
  border-radius: 2rem;
  animation: flicker 1.5s infinite alternate;
}

h1::-moz-selection {
  color: var(--neon-text-color);
}

h1::selection {
  color: var(--neon-text-color);
}

/* Animate neon flicker */
