.member-page-main-table-holder{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}



.list-members {
    float: left;
}

.search-accounts{
    float: right;
}

.search-account-button{
    background:url(/static/images/find-people-32.png) no-repeat;
    cursor:pointer;
    width: 27px;
    height: 27px;
    border: none;
}

h1 .h1_second_part {
    color: black;
}