<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ProMan</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/account.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"
            defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"
            defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"
            defer></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js' defer></script>
    <script src="{{ url_for('static', filename='js/data_handler.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/dom.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>
<body>
<h1>ProMan Groups</h1>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#boardAddModal" id="addBoardButton">
    A<br>D<br>D<br><br><br>G<br>R<br>O<br>U<br>P<br>!<br>
</button>
<div id="boards" class="container">
    <table>
        <tr>
            <td class="btn btn-link col text-left collapsed">Group A</td>
            <td>
                <button>Show</button>
            </td>
            <td>
                <button>Remove</button>
            </td>
        </tr>
        <tr>
            <td class="btn btn-link col text-left collapsed">Group B</td>
            <td>
                <button>Show</button>
            </td>
            <td>
                <button>Remove</button>
            </td>
        </tr>
        <tr>
            <td class="btn btn-link col text-left collapsed">Group C</td>
            <td>
                <button>Show</button>
            </td>
            <td>
                <button>Remove</button>
            </td>
        </tr>
    </table>
</div>
<footer>
    <img class="logo" src="https://i.imgur.com/8Og2yc5.png" alt="Logo">
</footer>
</body>
</html>